@font-face {
	font-family:HelveticaNeueLTPro;
	src: url("HelveticaNeueLTPro-Roman.otf");
}

*{
	font-family: HelveticaNeueLTPro;
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

.title{
    font-size: .34rem;
    line-height: .5rem;
    font-weight: 700;
    text-align: center;
    margin-top: .4rem;
    margin-bottom: .2rem;
}
dl.userCent{
	padding: 0 .3rem;
}
dl.userCent dt{
	font-size: .32rem;
	line-height: 0.8rem;
	font-weight: 700;
}

dl.userCent dd{
	font-size:.28rem;
	line-height: .42rem;
	padding-bottom: .2rem;
	color: #585c64;
}

dl.rechargeCent{
	padding: 0 .4rem;
}
dl.rechargeCent dt{
	padding-top: .4rem;
    padding-bottom: .2rem;
    margin-bottom: .4rem;
    font-size: .34rem;
    line-height: 0.5rem;
    font-weight: 700;
    border-bottom: solid 1px #CBCCCB;
}

dl.rechargeCent dd{
	text-align: justify;
	font-size:.3rem;
	line-height: .44rem;
	color: #333;
	margin-bottom: .4rem;
}

.aboutTop{
	padding-top: .88rem;
	padding-bottom: 1.3rem;
}
.aboutTop .logo{
	display: block;
	width: 1.62rem;
	height: 1.62rem;
	border-radius: .36rem;
	margin: 0 auto;
}
.aboutTop h2{
	height: .7rem;
	line-height: .7rem;
	text-align: center;
	font-size: .34rem;
	font-weight: 700;
	margin-top: .3rem;
}
.aboutTop .level{
	height: .44rem;
	line-height: .44rem;
	text-align: center;
	font-size: .28rem;
	color: #4B4B4B;	
}

.aboutCtn{
	width: calc(100% - .84rem);
	padding: 0 .42rem;
	background: #fff;
}

.aboutCtn li{
	position: relative;
	height: .72rem;
	line-height: .72rem;
	font-size: .28rem;
}

.aboutCtn li:not(:last-child){
	border-bottom: solid 1px #EFEFEF;	
}

.aboutCtn li .icon{
	margin-right: .1rem;
}

.aboutCtn li p{
	position: absolute;
	right: 0;
	top: 0;
	color: #F05B48;
}

.aboutBottom{
	position: absolute;
	bottom: .3rem;
	font-size: .3rem;
	width: 100%;
	text-align: center;
}


.share .page{
	width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
}

.share .page img{
	display: block;
    width: 100%;
    height: auto;
}

.footer-fixed{
	padding-bottom:1.3rem ;
}
.footer-fixed .cont-fixed{
	position: fixed;
	bottom: 0;
	width: calc(100% - .4rem);
	padding: .2rem;
	height: .84rem;
    border-top: 1px solid #d9d9d9;
    background: #FFFFFF;
}

.cont-fixed-l{
	float: left;
    overflow: hidden;
}

.cont-fixed-l img {
    width: .84rem;
    display: inline-block;
    float: left;
    margin-left: .08rem;
    margin-right: .12rem;
    border-radius: .2rem;
}

.cont-fixed-l>div{
    float: left;
    text-align: left;
}

.cont-fixed-l>div b{
    font-size: .28rem;
    height: .5rem;
    line-height: .5rem;
    color: #000;
    display: block;
}

.cont-fixed-l>div span{
    font-size: .24rem;
    height: .24rem;
    line-height: .24rem;
    color: #999;
    display: block;
    width: 3.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cont-fixed .download-btn {
    float: right;
    width: 1.56rem;
    height: .6rem;
    line-height: .6rem;
    background: #f05b48;
    border-radius: .08rem;
    margin-top: .12rem;
    font-size: .28rem;
    text-align: center;
    color: #FFFFFF;
}

.Itinerary-cont{
	background: #fff;
	position: absolute;
	bottom: 0;
	height: 5rem;
	width: 100%;
}

.Itinerary-cont .Itinerary-data{
	position: absolute;
	width: 5.18rem;
	height: .6rem;
	line-height: .7rem;
	top: -.05rem;
	left: calc(50% - 2.59rem);
	text-align: center;
	font-size: .36rem;
	color: #fff;
	background: url(../img/Itinerary-1.png) no-repeat;
	background-size:100% ;
}

.Itinerary-cont .firstRow{
	padding-top: .7rem;
	height: 1.8rem;
}

.Itinerary-cont .firstRow .head{
	float: left;
	margin-left: .98rem;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}

.Itinerary-cont .firstRow h1{
	float: left;
	width: 4.8rem;
	height: 100%;
	background: url(../img/Itinerary-3.png) 2rem center no-repeat;
	background-size: 1.2rem 1rem;
}

.Itinerary-cont .firstRow-r{
    float: left;
    width: calc(100% - 2.78rem - 4.8rem);
    padding-top: .46rem;
}
.Itinerary-cont .firstRow-r p{
	height: .33rem;
	line-height: .33rem;
}
.Itinerary-cont .firstRow-r h5{
	margin-top: .2rem;
	color: #3b3b3b;
	font-size: .42rem;
	height: .38rem;
	line-height: .38rem;
}

.c818181{
	color: #818181;
	font-size: .36rem;
}

.Itinerary-b{
	margin-top: .7rem;
	padding: 0 .45rem;
}

.Itinerary-b li{
	float: left;
	width: 33.3%;
	text-align: center;
}

.Itinerary-b li h3{
	height: .6rem;
	line-height: .6rem;
	font-size: .6rem;
	color: #333;
}

.Itinerary-b li img{
	width: .6rem;
	height: .6rem;
    vertical-align: middle;
    margin-right: .2rem;
    margin-bottom: .1rem;
}

.Itinerary-b li p{
	margin-top: .3rem;
	text-align: center;
}
